fish/.config/fish/fish_variables
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/BarWidget.qml
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/CHANGELOG.md
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/ColorPairRow.qml
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/ColorPill.qml
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/Main.qml
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/Panel.qml
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/README.md
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/Settings.qml
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/de.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/es.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/fr.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/hn.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/hu.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/it.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/ja.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/ko-KR.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/ku.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/nl.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/nn-NO.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/pl.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/pt.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/ru.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/sv.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/tr.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/uk-UA.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/zh-CN.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/i18n/zh-TW.json
/noctalia/.config/noctalia/plugins/keybind-cheatsheet/preview.png
/noctalia/.config/noctalia/plugins/screen-toolkit/BarWidget.qml
/noctalia/.config/noctalia/plugins/screen-toolkit/ControlCenterWidget.qml
/noctalia/.config/noctalia/plugins/screen-toolkit/Main.qml
/noctalia/.config/noctalia/plugins/screen-toolkit/Panel.qml
/noctalia/.config/noctalia/plugins/screen-toolkit/README.md
/noctalia/.config/noctalia/plugins/screen-toolkit/Settings.qml
/noctalia/.config/noctalia/plugins/screen-toolkit/i18n/fr.json
/noctalia/.config/noctalia/plugins/screen-toolkit/i18n/tr.json
/noctalia/.config/noctalia/plugins/screen-toolkit/overlays
/noctalia/.config/noctalia/plugins/screen-toolkit/scripts
/noctalia/.config/noctalia/plugins/screen-toolkit/shaders
/noctalia/.config/noctalia/plugins/screen-toolkit/tools
/noctalia/.config/noctalia/plugins/screen-toolkit/utils
/noctalia/.config/noctalia/plugins/screen-toolkit/widgets
